<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrisonDataBase.Properties.Settings.PrisonDataBaseConnectionString"
            connectionString="Data Source=DESKTOP-6BKJL0I\MSSQL;Initial Catalog=PrisonDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>